.grid .button {
  display: block;
  width: 100%;
  /* en caso de elementos inline, necesita ser bloque para que el width le afecte */
}

.on-the-left,
.on-the-right {
  top: 1rem;
}

.on-the-left {
  position: absolute;
  min-width: 18ch;
  left: 1rem;
}

.on-the-right {
  position: absolute;
  right: 1rem;
  min-width: 18ch;
}


@media screen and (min-width: 60rem) {
  .on-the-left {
    position: fixed;
    left: 2rem;
    z-index: 9;
  }

  .on-the-right {
    position: fixed;
    right: 2rem;
    z-index: 9;
  }

}