.grid .button {
  display: block;
  width: 100%;
  /* en caso de elementos inline, necesita ser bloque para que el width le afecte */
}

.on-the-left {
  position: absolute;
  min-width: 18ch;
  left: 1rem;
}

.on-the-right {
  position: absolute;
  right: 1rem;
  min-width: 18ch;
}



header {
  margin-top: 1rem;
}

@media screen and (min-width: 30rem) {
  header {
    margin-top: .5rem;
  }

  .on-the-left {
    position: fixed;
    left: 2rem;
    z-index: 9;
  }

  .on-the-right {
    position: fixed;
    right: 2rem;
    z-index: 9;
  }

}