.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.projects li {
  /* min-height: 90vh; en lugar de colocar un min height, un card+card*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  min-width: 100%;
  position: relative;
}

.projects li+li {
  margin-top: 5vh;
  /* background-color: pink; */
}

@media screen and (min-width: 40rem) {
  .projects li+li {
    margin-top: 30vh;
    /* background-color: orange; */
  }
}

.card,
.card__side {
  /* width: min(86vw, 40rem); */
  width: min(100%, 40rem);
  /* 100% can be used but the parents and their parents... have to have a set width (ie 100% ) or one grandparent can be .relative*/

  min-height: 66vh;
  /* o 70vh */

  /* el font size del navegador afecta el ratio */
  /* aspect-ratio: 2/6; */
}


.card {
  color: var(--body-color);
  line-height: 1.3;

  -webkit-perspective: 100rem;
  perspective: 100rem;
  /* height: 60vh; */
  position: relative;
  background-color: var(--body-background-color);
  /* same as body bg or */
  background-color: transparent;

  margin-inline: auto;
  /* el padding del ul parecia que lo centraba pero no */
}


.card__side {
  /* a parecer necesita un width, no un min-width o max-width*/
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.card__side--front {
  background-color: var(--card-bg, #1c1c1c);
  /* display: grid; */
  /* para centrar */

  padding: 1rem;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: var(--card-bg, #1c1c1c);

  padding: 3rem;
}

.card__side--back>p {
  margin-bottom: 1rem;
  /* separacion entre p y btns */
}

.card:hover .card__side--front,
.card:focus-visible .card__side--front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back,
.card:focus-visible .card__side--back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.card strong {
  display: inline-block;
  background-color: gray;
  padding: .2rem;

  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  color: var(--button-color);
  font-size: var(--button-font-size);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  text-align: center;
  white-space: nowrap;

  border-radius: var(--radius);
  padding: var(--code-padding);
  /* box-padding > ...button-paddings > code-padding */
}


figure {
  aspect-ratio: 9/5;
  overflow: hidden;
}

.project__name {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;

  margin-bottom: 0;
  /* important */
}