/* BASE */

* {
  scroll-behavior: smooth;
}

html,
body {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

/* font family doesnt really belong to body */

body {
  font-family: 'sono', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}



ul,
ol {
  padding-left: 0;
}

li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

small {
  display: block;
}


/* these change bulma's defaults */
.container {
  padding: .5rem 2rem 1rem 2rem;
  /* outline: 1px solid; */
}

.title,
.subtitle {
  display: block;
  margin-inline: auto;
  /* !important no necesario */
  text-align: center;
  color: var(--body-color) !important;
}

.subtitle {
  text-align: start;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--gap, .5rem);
}



/* HELPERS */
.has-full-width {
  width: 100%;
}





/* VARIABLES */

[data-dark='true'] {

  --text: var(--text-invert);
  --text-invert: var(--text);
  --body-background-color: var(--black-ter);
  --body-color: var(--grey-lighter);




  /* above is important */
  --black-bis: hsl(0deg, 0%, 9%);
  --black-ter: hsl(0deg, 0%, 14%);
  --grey-darker: hsl(0deg, 0%, 21%);
  --grey-dark: hsl(0deg, 0%, 29%);
  --grey: hsl(0deg, 0%, 48%);
  --grey-light: hsl(0deg, 0%, 71%);
  --grey-lighter: hsl(0deg, 0%, 86%);
  --grey-lightest: hsl(0deg, 0%, 93%);
  --white-ter: hsl(0deg, 0%, 92%);
  --white-bis: hsl(0deg, 0%, 96%);
}

body {
  --ch-limit: 52ch;
}




button,
a {
  border: .2rem solid transparent;
  background: transparent;
  cursor: pointer;
}

a:hover {
  color: currentColor;
}

a:visited {
  color: cornflowerblue;
}



[data-dark='true'] .sun {
  display: none;
}

[data-dark='false'] .moon {
  display: none;
}


[data-dark='false'] body {
  background-image: -o-linear-gradient(var(--primary-light) 0%, var(--secondary-light) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-light)), to(var(--secondary-light)));
  background-image: linear-gradient(var(--primary-light) 0%, var(--secondary-light) 100%);
}


[data-dark='true'] body {
  background-image: -o-linear-gradient(var(--primary-dark) 0%, var(--secondary-dark) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-dark)), to(var(--secondary-dark)));
  background-image: linear-gradient(var(--primary-dark) 0%, var(--secondary-dark) 100%);
}



/* FOR THE HEADER */

header ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  gap: 1rem;
  font-size: 1.1rem;

}

/* el li junto y despues de logo */
header .logo+li {
  margin-left: auto;
}

/* ancho fijo para li en headers para cuando pase de en a es y de es a en, menos el logo y el btn  */
header li {
  min-width: 12ch;
  text-align: center;
}

header li:first-child,
header li:nth-child(2),
header li:last-child {
  min-width: auto;
}

/* enlaces y cualquier texto dentro de header del mismo color */
a,
header span {
  color: var(--text);
}

/* FOR THE HERO */
.hero {
  --color-1: hsl(8, 80%, 64%);
  --color-2: hsl(270, 93%, 62%);
  --span-gap: .7ch;

  font-weight: 500;
  min-height: 90vh;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero * {
  text-align: center;
  color: var(--body-color);
  /* var(--body-color) is var(--text) */
  /* margin-bottom: 0 !important; */
  line-height: 0;
  /* partimos de todos con el mismo lineheight */

  -webkit-animation: abc 2s .5s linear;
  animation: abc 2s .5s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.hero>* {
  line-height: .7;
}

.hero-name-and-role {
  line-height: .8;
}

.hero-role {
  gap: var(--span-gap);
  padding: 2rem 0;
}

.hero-role>* {
  /* --gap: .2rem; */
  font-size: 2rem;
}

.hero-desc {
  line-height: 1.7;
  max-width: min(30rem, calc(100vw-5rem));
}

/* .letters-rotate {
  margin-top: 1rem;
  margin-bottom: 1rem;
} */

/* no-preference | reduce */
@media (prefers-reduced-motion: no-preference) {
  .letters-rotate>span {
    min-width: var(--span-gap);
    /* for the empty span that had no width */
    display: inline-block;
    text-transform: uppercase;
    -webkit-animation: flip 4s infinite;
    animation: flip 4s infinite;
    -webkit-animation-delay: calc(.05s * var(--i));
    animation-delay: calc(.05s * var(--i))
  }
}

/* si puede hacer hover */
@media (hover:hover) {
  .letters-bounce {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .letters-bounce:hover>span {
    color: blue;
  }

  .letters-bounce>span {}

  .letters-bounce>span:hover {
    color: pink;
  }
}



h1 {
  font-size: min(5rem, 22vw);
  text-transform: uppercase;
  line-height: .5 !important;
}

/* los hijos de .colored tienen un gradient */
.colored>* {
  /* display: block; */
}

.colored>*:nth-child(1) {
  --color: var(--color-1);
  --colorbeside: var(--color-2);
}

.colored>*:nth-child(2) {
  --color: var(--color-2);
  --colorbeside: var(--color-1);
}

.colored>* {
  /* font-weight: 700; */
  background: var(--color);
  background: -o-linear-gradient(left, var(--color) 0%, var(--colorbeside) 100%);
  background: -webkit-gradient(linear, left top, right top, from(var(--color)), to(var(--colorbeside)));
  background: linear-gradient(to right, var(--color) 0%, var(--colorbeside) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* FOR ALL THE .TITLE AND .SUBTITLE */
.title,
.subtitle,
.project__name {
  padding: 0;
}

.title:empty,
.subtitle:empty {
  display: none;
}

.title {
  font-size: 3rem;
}

.subtitle {
  line-height: 1;
  max-width: var(--ch-limit);
}

.subtitle+.subtitle {
  margin-top: .3ch;
}




/* FOR ALL THE FIGURE WITH IMGS */
figure {
  position: relative;
  display: block;
}

figure::after {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-backdrop-filter: blur(3px) opacity(.4) brightness(1.2);
  backdrop-filter: blur(3px) opacity(.4) brightness(1.2);
}

[data-dark='true'] figure::after {
  -webkit-backdrop-filter: blur(3px) opacity(.4) brightness(.8);
  backdrop-filter: blur(3px) opacity(.4) brightness(.8);
}








/* FOR THE TOOLS SECTION */

.tools {
  --gap: 1rem;

  max-width: var(--ch-limit);
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: var(--gap);
}

.tools>li {
  /* max-width: 40%; */
  margin-bottom: var(--gap);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  /* important */
}


.tools svg {
  width: 8ch;
  aspect-ratio: 1;
  margin-inline: auto;
  display: block;
  /* important */
}

.tools svg+small {
  text-align: center;
}

.is-grid {
  /* display: grid;
  grid-auto-flow: row dense;
  /* row is default, include anyways 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; */
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-width: auto;
  -moz-column-width: auto;
  column-width: auto;
  -webkit-column-width: 30ch;
  -moz-column-width: 30ch;
  column-width: 30ch;
}



/* FOR THE CONTACT SECTION */

.contact svg {
  min-width: 4ch;
  aspect-ratio: 1;
  fill: cornflowerblue;

}

/* animations */

@-webkit-keyframes flip {

  0%,
  80% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg)
  }
}

@keyframes flip {

  0%,
  80% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg)
  }
}


/* experimental */


input[type="number"]:in-range {
  background-color: greenyellow;
}

input[type="number"]:out-of-range {
  background-color: orange;

}


.tools svg {
  --shadow: var(--text);

  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.tools li:hover>svg {
  -webkit-filter: drop-shadow(.1rem .1rem .3rem var(--shadow));
  filter: drop-shadow(.1rem .1rem .3rem var(--shadow))
}

li:hover .html5 {
  fill: orange;
}

li:hover .css3 {
  fill: blue;
}

li:hover .sass {
  fill: pink;
}

li:hover .jquery {
  fill: blue;
}

li:hover .javascript {
  fill: yellow;
}

li:hover .mongodb {
  fill: rgba(36, 155, 36, 0.751);
}

li:hover .figma {
  fill: coral;
}

li:hover .angular {
  fill: red;
}

li:hover .jekyll {
  fill: rgba(176, 26, 26, 0.79);
}

li:hover .bootstrap {
  fill: rgba(95, 28, 163, 0.647);
}

li:hover .bulma {
  fill: rgba(54, 117, 219, 0.751);
}


section:target {
  outline: .1rem solid var(--text);
}


/* FOR THE FOOTER */

footer {
  padding: 2rem 0;
}

.bg-52 {
  position: relative;
}

.bg-52::before {
  content: '';
  position: absolute;
  inset: -200% 0 0 0;
  background: transparent;
  background: -o-linear-gradient(transparent 5%, rgba(100, 148, 237, 0.704));


  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, transparent), to(rgba(100, 148, 237, 0.704)));


  background: linear-gradient(transparent 5%, rgba(100, 148, 237, 0.704));
}